[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
click = "*"
jsonlines = "*"
pandas = "*"
requests = "*"
sentry-sdk = "*"
smart-open = {version = "*", extras = ["s3"]}
warcio = "*"
yake = "*"
ultimate-sitemap-parser = "*"

[dev-packages]
black = "*"
coverage = "*"
coveralls = "*"
ipython = "*"
mypy = "*"
pandas-stubs = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
safety= "*"
types-beautifulsoup4 = "*"
pip-audit = "*"

[requires]
python_version = "3.12"

[scripts]
harvester = "python -c \"from harvester.cli import main; main()\""
harvester-dockerized = "docker run -it -v $PWD/output/crawls:/crawls browsertrix-harvester-dev:latest"
